{#
 # Variables:
 # event_card__date__ongoing - Whether or not the event is ongoing.
 # event_card__date__start - The event's start date.
 # event_card__date__end - The event's end date.
 # event_card__heading - The heading of the event. Also used as the alt text of the image.
 # event_card__status - The status of the event.
 # event_card__description - A short description about the event.
 # event_card__library_name - The library's name.
 # event_card__link - The url that the heading and image should link to.
 # event_card__icon - The icon name to use when there's no image available.
 #
 # Blocks:
 # event_card__image - Used to replace the image with a responsive one from Drupal.
 # event_card__tags - The tags field will go here. The field template will look a lot like what's inside the block in this file.
 #
 # Conditions:
 # event_card__with_image - Whether or not to display the image section (includes the default icon).
 # event_card__image - If true, show the image. If false show the icon.
 #}

{# Date/Time formats used in this file #}
{% set format__short = 'F jS' %}         {# December 9th #}
{% set format__long = 'l, F jS g:i A' %} {# Thursday, December 9th 5:30 PM #}
{% set format__time_only = 'g:i A' %}    {# 6:30 PM #}
{% set format__compare = 'Y/m/d' %}      {# 2019/12/09 #}

{# Check whether the date is today or in the future (Used below to decide whether or not to render the markup #}
{% if (event_card__date__start|date(format__compare) >= 'now'|date(format__compare)) or (event_card__date__end|date(format__compare) >= 'now'|date(format__compare)) %}
  {% set event_card__date__in_future = true %}
{% endif %}

{# Calculate the proper date format to use in the following situations #}
{# If ongoing #}
{% if ongoing == true %}
  {% set event_card__date = 'Ongoing' %}
{# If no end date provided OR the start and end dates are the same, down to the minute #}
{# Single Day and Time #}
{# Thursday, December 9th 5:30 PM #}
{% elseif not event_card__date__end or event_card__date__end|date(format__long) == event_card__date__start|date(format__long) %}
  {% set event_card__date = event_card__date__start|date(format__long) %}
{# If end date is the same as the start date (but with different times) #}
{# Single Day, Multiple Times #}
{# Thursday, December 9th 5:30 PM - 6:30 PM #}
{% elseif event_card__date__end|date(format__compare) == event_card__date__start|date(format__compare) %}
  {% set event_card__date = event_card__date__start|date(format__long) ~ ' - ' ~ event_card__date__end|date(format__time_only) %}
{# Elseif start < now AND end > now #}
{# Multi-day - In-progress #}
{# Now - December 9th #}
{% elseif (event_card__date__start|date(format__compare) < 'now'|date(format__compare)) and (event_card__date__end|date(format__compare) > 'now'|date(format__compare)) %}
  {% set event_card__date = 'Now - ' ~ event_card__date__end|date(format__short) %}
{# Else #}
{# Multi-day - Future Start Date #}
{# December 1st - December 9th #}
{% else %}
  {% set event_card__date = event_card__date__start|date(format__short) ~ ' - ' ~ event_card__date__end|date(format__short) %}
{% endif %}

{% set event_card__base_class = 'event-card' %}

<div {{ bem(event_card__base_class) }}>
  {% if not event_card__with_image %}
    <div {{ bem('no-image', [], event_card__base_class) }}></div>
  {% endif %}
  <div {{ bem('content', [], event_card__base_class) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: '3',
      heading_base_class: 'heading',
      heading_blockname: event_card__base_class,
      heading: event_card__heading,
      heading_url: event_card__link,
    } %}
    {% if event_card__status %}
      <div {{ bem('status', [], event_card__base_class) }}>
        {{ event_card__status }}
      </div>
    {% endif %}
    {% if not event_card__date__in_future %}
      <div {{ bem('description', [], event_card__base_class) }}>
        {{ event_card__description }}
      </div>
    {% endif %}
    {% if event_card__date__in_future %}
      <div {{ bem('date', [], event_card__base_class) }}>
        {{ event_card__date }}
      </div>
    {% endif %}
    <div {{ bem('library', [], event_card__base_class) }}>
      {{ event_card__library_name }}
    </div>
    <div {{ bem('tags', [], event_card__base_class) }}>
      {% block event_card__tags %}
        {% include "@atoms/links/tags/_tags.twig" with {
          tags: event_card__tags,
        } %}
      {% endblock %}
    </div>
  </div>
  {% if event_card__with_image %}
    {% embed "@atoms/links/link/link.twig" with {
      link_base_class: 'image',
      link_blockname: event_card__base_class,
      link_url: event_card__link,
    } %}
      {% block link_content %}
        {% if event_card__image %}
          {% block event_card__image %}
            {% include "@atoms/images/image/responsive-image.twig" with {
              img_srcset: img_srcset|default(image.four_by_three.responsive.srcset),
              img_sizes: img_sizes|default(image.four_by_three.responsive.sizes),
              img_src: img_src|default(image.four_by_three.responsive.src),
              img_alt: event_card__heading,
              image_attributes: {
                'aria-hidden': 'true'
              }
            } %}
          {% endblock %}
          {% if event_card__date__in_future %}
            {% include "@molecules/date-tile/date-tile.twig" with {
              date_tile__modifiers: ['floated'],
              ongoing: event_card__date__ongoing,
              date_tile__start_date: event_card__date__start,
              date_tile__end_date: event_card__date__end,
            } %}
          {% endif %}
        {% else %}
          <div {{ bem('icon-wrapper', event_card__icon__modifiers, event_card__base_class) }}>
            {% include "@atoms/images/icons/_icon.twig" with {
              icon_blockname: event_card__base_class,
              icon_modifiers: ['xlarge'],
              icon_name: event_card__icon|default('movie'),
              icon_decorative: true,
            } %}
            {% if event_card__date__in_future %}
              {% include "@molecules/date-tile/date-tile.twig" with {
                date_tile__modifiers: ['floated'],
                ongoing: event_card__date__ongoing,
                date_tile__start_date: event_card__date__start,
                date_tile__end_date: event_card__date__end,
              } %}
            {% endif %}
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}
  {% endif %}
</div>
