{#
/**
 * Available variables:
 * - tag_content - The content of the tag (typically text).
 * - tag_url - The url the link should poing to.
 * - tag_attributes - Array of attribute,value pairs.
 */
#}
{% set tag_base_class = tag_base_class|default('tag') %}

<a
  {{ bem(tag_base_class, tag_modifiers, tag_blockname) }}
  {% for attribute,value in tag_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  href="{{ tag_url }}"
>
  {{- tag_content -}}
</a>
