{% if header is defined %}
  <h2>{{ header }}</h2>
  {% if intro is defined %}
    <p>{{ intro }}</p>
  {% endif %}
{% endif %}

<ul class="booklist">
  {% for books in booklist_vars %}
    {% for book in books %}
      <li class="booklist-item {{ border ? 'bordered' : '' }}">
        {% if images == true %}
          <span class="booklist-icon">
            {% if book.img is defined %}
              <img src="{{ book.img.image_1_1.src }}" alt="{{ book.img.image_1_1.alt }}" />
          {% endif %}
        {% endif %}
        </span>

        <div class="item-content">
          <h3>{{ book.book_title }}</h3>

          <span class="tag">{{ book.year }}</span>

          <span class="tag">{{ book.file_type }}</span>

          <div class="author">By {{ book.author.first }} {{ book.author.last }}</div>

          <p>Available onsite at specific locations. <a href="#" class="btn-text">View Detail<span class="icon icon-arrow-right"></span></a></p>
        </div>

        <div class="item-content">
          <button href="#" class="btn btn-outline fluid">How to View</button>

          <button href="#" class="btn btn-outline fluid">All To My List</button>
        </div>
      </li>
    {% endfor %}
  {% endfor %}
</ul>