{#
 # showcase__date__start - The showcase's start date.
 # showcase__date__end - The showcase's end date.
 #}

{# Date/Time formats used in this file #}
{% set format__short = 'F j' %}         {# December 9 #}
{% set format__date = 'F j, Y' %}       {# December 9 2019 #}
{% set format__day = 'l, F j' %}        {# Thursday, December 9 #}
{% set format__long = 'l, F j g:i A' %} {# Thursday, December 9 5:30 PM #}
{% set format__time_only = 'g:i A' %}    {# 6:30 PM #}
{% set format__compare = 'Y/m/d' %}      {# 2019/12/09 #}
{% set format__year = 'Y' %}             {# 2019 #}

{# Check whether the date is today or in the future. If so, set the eyebrow to "The exhibition has ended" #}
{# {% if (showcase__date__start|date(format__compare) >= 'now'|date(format__compare)) or (showcase__date__end|date(format__compare) >= 'now'|date(format__compare)) %} #}
{# {% endif %} #}
{% set showcase_hero__eyebrow = (showcase__date__start|date(format__compare) >= 'now'|date(format__compare)) or (showcase__date__end|date(format__compare) >= 'now'|date(format__compare)) ? '' : 'The exhibition has ended' %}

{# Calculate the proper date format to use in the following situations #}
{# If no end date provided OR the start and end dates are the same, down to the minute #}
{# Single Day and Time #}
{# Thursday, December 9th 5:30 PM #}
{% if not showcase__date__end or showcase__date__end|date(format__long) == showcase__date__start|date(format__long) %}
  {% set showcase_hero__date = showcase__date__start|date(format__long) %}
{# If end date is the same as the start date (but with different times) #}
{# Single Day, Multiple Times #}
{# Thursday, December 9th 5:30 PM - 6:30 PM #}
{% elseif showcase__date__end|date(format__compare) == showcase__date__start|date(format__compare) %}
  {% set showcase_hero__date = showcase__date__start|date(format__long) ~ '–' ~ showcase__date__end|date(format__time_only) %}
{# Elseif start < now AND end > now #}
{# Multi-day - In-progress #}
{# Now - December 9th #}
{% elseif (showcase__date__start|date(format__compare) < 'now'|date(format__compare)) and (showcase__date__end|date(format__compare) > 'now'|date(format__compare)) %}
  {% set showcase_hero__date = 'Now - ' ~ showcase__date__end|date(format__short) %}
{# Else #}
{# Multi-day - Future Start Date (wrapping years) #}
{# December 1st, 2019 - February 28th, 2020 #}
{% elseif showcase__date__start|date(format__year) < showcase__date__end|date(format__year) %}
  {% set showcase_hero__date = showcase__date__start|date(format__day) ~ '–' ~ showcase__date__end|date(format__day) %}
{# Multi-day - Future Start Date #}
{# December 1st - December 9th #}
{% else %}
  {% set showcase_hero__date = showcase__date__start|date(format__short) ~ '–' ~ showcase__date__end|date(format__date) %}
{% endif %}

{% set showcase_hero__base_class = 'showcase-hero' %}

<div {{ bem(showcase_hero__base_class) }}>
  <div {{ bem('header', [], showcase_hero__base_class) }}>
    {# Heading #}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: '1',
      heading_blockname: showcase_hero__base_class,
      heading: showcase_hero__heading,
    } %}
    {# Image #}
    <div {{ bem('image', [], showcase_hero__base_class) }}>
      {% block about_x__image %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          img_srcset: img_srcset|default(image.two_by_one.responsive.srcset),
          img_sizes: img_sizes|default(image.two_by_one.responsive.sizes),
          img_src: img_src|default(image.two_by_one.responsive.src),
          img_alt: img_alt|default(image.two_by_one.responsive.alt),
        } %}
      {% endblock %}
    </div>
  </div>
  <div {{ bem('details', [], showcase_hero__base_class) }}>
    {# Location Info #}
    <div {{ bem('location-info', [], showcase_hero__base_class) }}>
      {% include "@molecules/location-info/location-info.twig" with {
        location__eyebrow: showcase_hero__eyebrow,
        location__heading: showcase_hero__date,
        location__address: showcase_hero__address,
        location__directions_url: showcase_hero__directions_url,
        location__accessibility_level: showcase_hero__accessibility_level,
      } %}
    </div>
    {# CTAs #}
    {% if showcase_hero__cta.0.url %}
      <div {{ bem('ctas', [], showcase_hero__base_class) }}>
        {% for link in showcase_hero__cta %}
          {% include "@molecules/location-info/partials/_location--ctas.twig" with {
            cta__link__blockname: showcase_hero__base_class,
            cta__link__text: link.text,
            cta__link__url: link.url,
          } %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
