<div class="centered">
  <ul class="icons">

    {% set icons = {
      '11' : 'book medium',
      '12' : 'computer medium',
      '13' : 'play medium',
      '14' : 'cd medium',
      '15' : 'movie medium',
    } %}

    {% for slug, icon in icons %}
      <li class="pl-icon-bg">
        <h3>AIL-{{ slug }}: {{ icon|title|replace({' ': '', 'Medium': ''}) }}</h3>
        <span class="icon icon-{{ icon }}"></span>
        <span class="icon icon-{{ icon }} blue"></span>
        <span class="icon icon-{{ icon }} white"></span>
        <span class="icon icon-{{ icon }} purple"></span>
      </li>
    {% endfor %}
  </ul>
</div>