<div class="centered">
  <ul class="icons">

    {% set icons = {
      '2' : 'arrow-down',
      '23' : 'arrow-down-small',
      '3' : 'arrow-up',
      '4' : 'arrow-right',
      '5' : 'arrow-left',
      '6' : 'search',
      '7' : 'search-small',
      '8' : 'plus',
      '9' : 'minus',
      '10' : 'cancel',
    } %}

    {% for slug, icon in icons %}
      {% if 'medium' in icon %}
      <li class="pl-icon-bg">
        <h3>AIL-{{ slug }}: {{ icon|title|replace({' ': '', 'Medium': ''}) }}</h3>
        <span class="icon icon-{{ icon }}"></span>
        <span class="icon icon-{{ icon }} blue"></span>
        <span class="icon icon-{{ icon }} white"></span>
        <span class="icon icon-{{ icon }} purple"></span>
      </li>

      {% else %}
      <li class="pl-icon-bg">
        <h3>AIL-{{ slug }}: {{ icon|title|replace({' ': '', 'Large': ''}) }}</h3>
        <span class="icon icon-{{ icon }}"></span>
        <span class="icon icon-{{ icon }} blue"></span>
        <span class="icon icon-{{ icon }} white"></span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>