<div class="centered">
  <ul class="icons">

    {% set icons = {
      '16' : 'social-instagram medium',
      '17' : 'social-facebook medium',
      '18' : 'social-youtube medium',
      '19' : 'social-tumblr medium',
      '20' : 'social-twitter medium',
      '22' : 'social-media-icon-set large'
    } %}

    {% for slug, icon in icons %}
      <li class="pl-icon-bg">
        <h3>AIL-{{ slug }}: {{ icon|title|replace({' ': '', 'Large': '', 'Medium': ''}) }}</h3>
        <span class="icon icon-{{ icon }}"></span>
        <span class="icon icon-{{ icon }} blue"></span>
        <span class="icon icon-{{ icon }} white"></span>
      </li>
    {% endfor %}
  </ul>
</div>