<div {{ bem('accessibility', [], address_bar__base_class) }}>
  <strong>Accessibility</strong><br />
  <span {{ bem('accessibility-rating', [], address_bar__base_class) }}>{{ accessibility_level }}</span>
  <p {{ bem('accessibility-description', [], address_bar__base_class) }}>{{ accessibility_level__description }}</p>
</div>
