{{ attach_library('nypl_emulsify/slideshow') }}

{% set slideshow__base_class = 'slideshow' %}

<section {{ bem(slideshow__base_class) }}>
  {# Viewer #}
  <div {{ bem('viewer', [], slideshow__base_class) }}>
    {% for slide in slides %}
      <div>
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          img_src: slide.img_src,
        } %}
      </div>
    {% endfor %}
  </div>

  <div {{ bem('meta', [], slideshow__base_class) }}>
    {% for slide in slides %}
      <div {{ bem('meta-item', [], slideshow__base_class) }}>
        {# Image Title #}
        <div {{ bem('image-info', [], slideshow__base_class) }}>
          <span {{ bem('image-title', [], slideshow__base_class) }}>
            {{ slide.img_title }}
          </span>
          {% if slide.image_collection_link %}
            {% include "@atoms/links/link/link.twig" with {
              link_base_class: 'image-collection-link',
              link_blockname: slideshow__base_class,
              link_url: slide.image_collection_link,
              link_content: 'See More in Digital Collections',
            } %}
          {% endif %}
        </div>
        {# Counter #}
        <div {{ bem('counter', [], slideshow__base_class) }}>
          {{ loop.index }} of {{ loop.length }} Slides
        </div>
      </div>
    {% endfor %}
  </div>

  {# Navigation #}
  <div {{ bem('navigation', [], slideshow__base_class) }}>
    {# Previous Arrow #}
    <div {{ bem('nav', (['prev']), slideshow__base_class) }}>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: 'arrow-xsmall-thin',
        icon_base_class: 'nav-icon',
        icon_modifiers: ['prev', 'left'],
        icon_blockname: slideshow__base_class
      } %}
    </div>

    {# Next Arrow #}
    <div {{ bem('nav', (['next']), slideshow__base_class) }}>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: 'arrow-xsmall-thin',
        icon_base_class: 'nav-icon',
        icon_modifiers: ['next', 'right'],
        icon_blockname: slideshow__base_class
      } %}
    </div>

    {# Carousel #}
    <div {{ bem('carousel', [], slideshow__base_class) }}>
      {% for slide in slides %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          responsive_image_base_class: 'carousel-item',
          responsive_image_blockname: slideshow__base_class,
          output_image_tag: true,
          img_src: slide.img_src,
        } %}
      {% endfor %}
    </div>
  </div>
</section>
